@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
$main-background: #36454F;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100vw;
	overflow-x: hidden;
	scrollbar-width: thin;
	background: #000000;
}

#root {
	width: 100vw;
}

.app-wrapper {
	width: 100vw;
}

.app {
	width: 100vw;
	background: white;
	display: flex;
}
