@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

#root {
	width: 100vw;
}

.app-wrapper {
	width: 100vw;
}

.app {
	width: 100vw;
	background: white;
	display: flex;
}
