.button {
	width: 4vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	background: white;
	align-items: center;
	transition: all 0.25s ease-in-out;
}

.button:hover, .button:active {
	background: #FFA62B;
	cursor: default;
}

.buttonicon {
	width: 2vw;
	height: 3vw;
}
