$blue-highlight: #1976D3;

.app {
	width: 100vw;
	background: white;
	display: flex;
}

.documentation {
	width: 96vw;
	background: white;
}

.doc-header {
	width: 96vw;
	height: 15vh;
	background: $blue-highlight;
	font-size: 3vw;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 3vw;
}

.doc-title {
	margin-left: 8%;
	height: 16vh;
	display: flex;
	align-items: center;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 2.5vw;
	color: $blue-highlight;
	text-decoration: underline;
	text-decoration-color: linear-gradient(#1244A6, #6585E8);
}

.doc {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.doc-text {
	width: 80vw;
	margin-left: 10vw;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5vw;
}

.document-text {
	margin-bottom: 1%;
}

.code-box {
	width: 60vw;
	background: $blue-highlight;
	display: flex;
	flex-direction: column;
	margin: 2%;
	padding: 3%;
	border-radius: 40px;
	font-family: 'Source Code Pro', monospace;
	color: white;
}

.code-line {
	word-break: break-all;
}

.indented-code {
	margin-left: 3vw;
}
