@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

//$dl_option_color: #2b2d2f;
$dl_option_color: #000000;
$highlight: #EF9501;
$background: #ffffff;

.download-app {
	width: 100vw;
	background: white;
	display: flex;
}

.download-wrapper {
	width: 100vw;
	background: #12073b;
}

.download-header {
	width: 96vw;
	height: 20vh;
	background: #12073b;
	font-family: 'Quicksand', sans-serif;
}

.download-options {
	width: 100vw;
	//height: 140vh;
	display: flex;
	flex-direction: column;
	background: $background;
}

.local-webclient {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $background;
	transition: all 0.35s ease-in-out;
	font-family: 'Quicksand', sans-serif;
	border-radius: 35px;
	word-break: all;
	margin: 1rem;
}

.local-installs {
	width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: black;
	background-color: $dl-option-color;
	font-size: 1.25rem;
	padding: 4%;
	border-radius: 30px;
	font-family: 'Source Code Pro', monospace;
}

.cli-client {
	width: 100vw;
	background: $background;
	display: flex;
	flex-direction: column;
	//justify-content: space-evenly;
	align-items: center;
	transition: all 0.35s ease-in-out;
	border-radius: 35px;
	font-family: 'Quicksand', sans-serif;
	margin: 1rem;
}

.local-webclient:hover {
	filter: brightness(120%);
}

.cli-client:hover {
	filter: brightness(120%);
}

.pip-install {
	width: 70vw;
	background: $dl_option_color;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	color: black;
	font-size: 1.25rem;
	padding: 4%;
	border-radius: 30px;
	font-family: 'Source Code Pro', monospace;
	margin-bottom: 4vh;
}

.download-title {
	font-size: 2.5rem;
	font-weight: bold;
	color: black;
}

.download-desc {
	width: 70vw;
	font-size: 1.75rem;
	font-weight: bold;
	color: $highlight;
	text-align: center;
}

.download-comment {
	padding: 1rem;
	color: #3d3d3d;
	filter: brightness(120%);
	cursor: default;
}

.download-command {
	padding: 1rem;
	color: #EF9501;
	word-break: break-word;
	font-size: bold;
	filter: brightness(120%);
	cursor: default;
}
