@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

$dl_option_color: #2b2d2f;
$blue-highlight: #6385E9;
$background: #ffffff;

.download-app {
	width: 100vw;
	background: white;
	display: flex;
}

.download-wrapper {
	width: 100vw;
	background: #12073b;
}

.download-header {
	width: 96vw;
	height: 20vh;
	background: #12073b;
	font-family: 'Quicksand', sans-serif;
}

.download-options {
	width: 100vw;
	//height: 140vh;
	display: flex;
	background: $background;
}

.local-webclient {
	width: 48vw;
	display: flex;
	flex-direction: column;
	//justify-content: space-evenly;
	align-items: center;
	background: $background;
	transition: all 0.35s ease-in-out;
	font-family: 'Quicksand', sans-serif;
	border-radius: 35px;
	word-break: all;
}

.local-installs {
	width: 42vw;
	//height: 110vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: black;
	background-color: $dl-option-color;
	font-size: 1.5vw;
	padding: 4%;
	border-radius: 30px;
	font-family: 'Source Code Pro', monospace;
}

.cli-client {
	width: 48vw;
	background: $background;
	display: flex;
	flex-direction: column;
	//justify-content: space-evenly;
	align-items: center;
	transition: all 0.35s ease-in-out;
	border-radius: 35px;
	font-family: 'Quicksand', sans-serif;
}

.local-webclient:hover {
	filter: brightness(120%);
}

.cli-client:hover {
	filter: brightness(120%);
}

.pip-install {
	width: 42vw;
	//height: 110vh;
	background: $dl_option_color;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	color: black;
	font-size: 1.5vw;
	padding: 4%;
	border-radius: 30px;
	font-family: 'Source Code Pro', monospace;
	margin-bottom: 4vh;
}

.download-title {
	font-size: 2.5vw;
	color: black;
}

.download-desc {
	font-size: 2vw;
	font-weight: bold;
	color: $blue-highlight;
}

.download-comment {
	padding: 0;
	color: white;
	filter: brightness(120%);
	cursor: default;
}

.download-command {
	padding: 0;
	color: cyan;
	word-break: break-word;
	filter: brightness(120%);
	cursor: default;
}
