$main-background: #36454F;

footer {
	width: 100vw;
	height: 16vh;
	background-color: $main-background;
	display: flex;
	justify-content: flex-end;
}

.footer-box {
	width: 12vw;
	height: 16vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	padding-left: 2vw;
}

.footer-field {
	cursor: default;
	color: #12073b;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	transition: all 0.2s ease-in-out;
}

.footer-link {
	color: #12073b;
	cursor: default;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.footer-field:hover, .footer-link:hover {
	color: purple;
}
