.generator {
	width: 96vw;
	height: 100vh;
	background: #12073b;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.passlabel {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: black;
	padding-bottom: 1%;
}

.pass {
	width: 25vw;
	height: 4vh;
}

.passphrase {
	width: 50vw;
	height: 4vh;
	background: #FFA62B;
	padding: 1%;
	border: 0;
	border-radius: 30px;
}

.passphrase:focus {
	outline: none;
}

.hidden {
	background: url('../icons/open-iconic-master/eye909090ff.svg');
	background-size: cover;
}

.displayed {
	background: url('../icons/open-iconic-master/eyeFFA62B.svg');
	background-size: cover;
	transition: all 0.2s ease-in-out;
}

.submitbutton {
	width: 25vw;
	height: 8vh;
	background: transparent;
	color: #FFA62B;
	border: solid #FFA62B 3px;
	border-radius: 30px;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.submitbutton:hover {
	background: #FFA62B;
	color: white;
}

#byteselector {
	display: flex;
	height: 15vh;
	justify-content: center;
	align-items: center;
}

.bytes {
	width: 10vw;
	height: 5vh;
	background: transparent;
	border: solid #FFA62B 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFA62B;
	border-radius: 20px;
	margin-right: 6%;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
	font-size: 1.25vw;
}

.bytes:hover {
	background: #FFA62B;
	color: white;
	font-weight: bold;
	font-size: 1.25vw;
	cursor: default;
}

.activebyte {
	width: 10vw;
	height: 5vh;
	background: #FFA62B;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid #FFA62B 3px;
	border-radius: 20px;
	margin-right: 6%;
	font-family: 'Quicksand', sans-serif;
	cursor: default;
	font-weight: bold;
	font-size: 1.25vw;
}

.selector-box {
	width: 96vw;
	height: 42vh;
}

.generatorbox {
	display: flex;
	width: 96vw;
	height: 58vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.password-hider {
	width: 35px;
	height: 35px;
}

.password-elements {
	width: 56vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.parameters {
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
