$landing-color: linear-gradient(#6585E8, #1976D3);

.landing-app {
	width: 100vw;
	background: white;
	display: flex;
}

.landing-page {
	width: 96vw;
	background-image: black;
	display: flex;
	flex-direction: column;
}

.landing-box {
	width: 96vw;
	display: flex;
	background: $landing-color;
	justify-content: flex-end;
}

.landing-text {
	width: 35vw;
	height: 100vh;
	color: white;
	font-size: 6.25vw;
	font-family: 'Baloo 2', cursive;
	padding-left: 3%;
}

.learn-more {
	width: 65vw;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
}

.learn-more-button {
	width: 15vw;
	height: 7vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Baloo 2', cursive;
	font-weight: bold;
	font-size: 1.5vw;
	background: #EF9501;
	border: 0;
	border-radius: 30px;
	margin-top: 7vh;
	margin-right: 7vw;
	transition: all 0.2s ease-in-out;
}

.learn-more-button:hover {
	background: #FFA62B;
}

.learn-more-button:focus {
	outline: none;
}

.landing-header {
	width: 45vw;
	font-size: 5vw;
	font-family: 'Inconsolata', monospace;
	padding-left: 5%;
}

.landing-image {
	background: url('assets/bitcoin-background-large.jpg');
	background-size: cover;
	display: flex;
	border: 3px solid $landing-color;
	width: 96vw;
}

.landing-image > img {
	width: 100%;
	height: auto;
	border-radius: 30px;
	box-shadow: inset 40px 40px 40px 40px #000000;
}

.learn-more:hover {
	cursor: default;
}

.arrow {
	font-size: 3vw;
}

#more-info {
	width: 100vw;
	height: 100vh;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#info {
	width: 85vw;
	height: 70vh;
	background: #EF9501;
	border-radius: 30px;
	font-size: 1.5vw;
	font-family: 'Inconsolata', monospace;
	padding: 3%;
}

.arrow-down {
	font-size: 2vw;
	transform: rotate(90deg);
}

.info-header {
	font-size: 3vw;
	text-align: center;
}

.info-desc {

}

.info-precaution {
	color: red;
}
