$blue-highlight: #000000;

.path-selector {
	width: 96vw;
	height: 12.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.address {
	width: 12vw;
	height: 5vh;
	color: $blue-highlight;
	background-color: transparent;
	border-radius: 30px;
	border: 3px solid $blue-highlight;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5vw;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1vw;
	margin-right: 1vw;
	transition: all 0.2s ease-in-out;
	cursor: default;
}

.address:hover {
	background-color: $blue-highlight;
	color: white;
	cursor: default;
}

.active {
	background-color: $blue-highlight;
	color: white;
	cursor: default;
}

.legacy {

}

.segwit {

}

.native-segwit {

}
