#recover {
	width: 96vw;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#recoveryinput {
	width: 80vw;
	height: 40vh;
	background: white;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	color: black;
}

#recoveryseed {
	width: 80vw;
	height: 40vh;
	background: orange;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	color: black;
}
