#recover {
	width: 96vw;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#recoveryinput {
	width: 80vw;
	background: white;
	display: flex;
	flex-direction: column;
	padding: 3%;
	border-radius: 7px;
	color: black;
}
