.seedcontainer {
	width: 80vw;
	height: 45vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border: solid gray 1px;
	border-radius: 8px;
	color: #000000;
}

.seedinfo {
	width: 80vw;
	height: 10vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.seedtext {
	width: 50vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: black;
	word-break: break-word;
	font-size: 1vw;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	padding-left: 3%;
	padding-right: 3%;
}

.m_xprv {
	width: 50vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: pink;
	word-break: break-word;
	font-size: 1vw;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	padding-left: 3%;
	padding-right: 3%;
}

.m_xpub {
	width: 50vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: red;
	word-break: break-word;
	font-size: 1vw;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	padding-left: 3%;
	padding-right: 3%;
}

.expose-button::before {
	content: "Expose";
}

.expose-button {
	width: 10vw;
	height: 8vh;
	background-color: transparent;
	color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px solid red;
	border-radius: 30px;
	font-size: 1vw;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	transition: all 0.2s ease-in-out;
}

.expose-button:focus {
	outline: none;
}

.active-field::before {
	content: "Hide";
}

.active-field {
	background-color: red;
	color: white;
}

.active-field:focus {
	outline: none;
}
